<div class="pdf_data">
  <% @data.each do |k, v| %>
    <ul>
      <li><b><%= k.capitalize %> :</b></li>
      <li><% unless v.kind_of?(Array) %>
        <%= v %>
      <% else %>
        <table>
          <thead>
            <td>Date</td>
            <td>Transaction</td>
            <td>Amount</td>
          </thead>
          <% v.each do |j| %>
            <tr>
              <td><%=j[0]%></td>
              <td><%=j[1]%></td>
              <td><%=j[2]%></td>
            </tr>
          <% end %>
        </table>
      <% end %></li>
    </ul>
  <% end %>
</div>

